<div class="dashboard-container">

  <div class="dashboard-content">
    <ng-container *ngIf="isDashboardPage">
      <h1>Welcome, Admin</h1>
      <p>This is your dashboard. From here, you can manage products, users, and stock.</p>

      <div class="dashboard-grid">
  <div class="card">
    <h3>Total Users</h3>
    <p>{{ totalUsers }}</p>
  </div>
  <div class="card">
    <h3>Total Products</h3>
    <p>{{ totalProducts }}</p>
  </div>
  <div class="card">
    <h3>Low Stock Alerts</h3>
    <p>{{ lowStockAlerts }}</p>
  </div>
</div>

    </ng-container>

    <router-outlet></router-outlet>
  </div>
</div>
